{% extends 'base.html' %}

{% block title %}Latest Rates{% endblock title %}

{% block content %}
    <button type="button" class="btn btn-primary reload-rates-js">
        Reload Rates
    </button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">created</th>
            <th scope="col">source</th>
            <th scope="col">amount</th>
            <th scope="col">type</th>
            <th scope="col">currency</th>
        </tr>
        </thead>
        <tbody>
        {% for rate in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rate.id }}</td>
                <td>{{ rate.created }}</td>
                <td>{{ rate.get_source_display|title }}</td>
                <td>{{ rate.amount }}</td>
                <td>{{ rate.get_type_display|upper }}</td>
                <td>{{ rate.get_currency_type_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {

            // start
            $(".reload-rates-js").click(function () {
                $("tbody tr").remove();
                $.get('/api/v1/rate/latest-rates/').done(function (data) {

                    let i;

                    for (i = 0; i < data.length; i++) {
                        let item = data[i];
                        $('tbody:last-child').append(
                            '<tr>' +
                            '<th>1</th>' +
                            `<td>${item.id}</td>` +
                            `<td>${item.created}</td>` +
                            `<td>${item.get_source_display}</td>` +
                            `<td>${item.amount}</td>` +
                            `<td>${item.get_type_display}</td>` +
                            `<td>${item.get_currency_type_display}</td>` +
                            '</tr>'
                        );
                    }

                });
            });
            // end


        });
    </script>
{% endblock extra_js %}
